## files for ignore VCS

# Build tools
/gradle/
gradlew

# settings files
application.yaml
settings.conf

# unversioned files
.gitignore
.gradle/
.idea/
application.log
out/
src/main/java/
src/main/kotlin/root/Test.kt
src/test/
tableFiles/
telegram-bot-learn-exchange-1.0-SNAPSHOT.jar
test.sh
test.sql
tmpDir/
build/
sendToServer.sh
telegram-bot-learn-exchange.iml
